
@model PagedList.IPagedList<MARK6.Models.MediaGallery>


@{
	ViewBag.Title = ViewBag.MediaType;
}

<h2>@ViewBag.MediaType Gallery</h2>

<p>
	@*@Html.ActionLink("Create New", "Create", new { mediaType = ViewBag.MediaType })*@
</p>

<!-- Open "Create" action in a modal -->
<a href="#" data-toggle="modal" data-target="#createModal" class="btn btn-primary">Create New</a>


<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:500px" role="document">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" id="btnCreateClose" class="close btn btn-outline-light" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				@if (ViewBag.MediaType == "Photo")
				{
					<h5 class="modal-title" id="createModalLabel">Upload Image</h5>
				}
				else
				{
					<h5 class="modal-title" id="createModalLabel">Upload Video</h5>
				}
			</div>
			<div class="modal-body">
				<!-- Load your "Create" action content here using AJAX or include a partial view -->
				@Html.Partial("Create", new ViewDataDictionary { { "mediaType", ViewBag.MediaType } })
			</div>
			<!--<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
			<!-- You can add additional buttons here if needed -->
			<!--</div>-->
		</div>
	</div>
</div>


@*Delete Modal*@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:500px" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

@*Edit Modal*@
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:500px" role="document">
		<div class="modal-content">
		</div>
	</div>
</div>

<!-- Bootstrap JS (make sure to include jQuery and Popper.js as well) -->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"></script>
@*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>*@
<div class="row"><div class="col-lg-12"><br /></div></div>
<div class="row">
	@foreach (var item in Model)
	{

		<div class="col-xs-4 col-sm-4 col-md-4">
			<div class="card" style="width: 18rem;">
				@if (ViewBag.MediaType == "Photo")
				{
					<img class="card-img-top" src=@Url.Content(item.MediaPath) alt="Card image cap" style="width:250px;height:250px">
				}
				else
				{
					<video style="width:250px;height:250px" controls>
						<source src=@Url.Content(item.MediaPath) type="video/mp4">
					</video>

				}

				<div class="card-body text-center" style="width:250px;margin-bottom:20px">
					<h5 class="card-title">@item.Title</h5>

					@Html.ActionLink("Edit", "Edit", new { mediaType = ViewBag.MediaType, id = item.MediaId }, new { @class = "btn btn-primary edit-link", data_toggle = "modal", data_target = "#updateModal" })
					
					
					@Html.ActionLink("Delete", "Delete", new { id = item.MediaId }, new { @class = "btn btn-danger delete-link", data_toggle = "modal", data_target = "#deleteModal" })
					@Html.ActionLink("Download", "Download", "MediaGallery", new { id = item.MediaId }, new { @class = "btn btn-primary" })
					

				</div>
			</div>
		</div>

	}

	<!-- Render the pager -->
	@*<div class="text-center">
			Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

			@for (var i = 1; i <= Model.PageCount; i++)
			{
				<a href="@Url.Action("Index", new { page = i, ViewBag.MediaType })">@i</a>}
		</div>*@

	<!-- Render the pager manually with Bootstrap styles -->
	<div class="row">
		<div class="col-md-12">
	<div class="text-center clearfix">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				@for (var i = 1; i <= Model.PageCount; i++)
				{
					<li class="@(i == Model.PageNumber ? "active" : "")"><a href="@Url.Action("Index", new { page = i, ViewBag.MediaType })">@i</a></li>
				}
			</ul>
		</nav>
	</div>
			</div>
		</div>
	<script>
		$(document).ready(function () {
			
			// Listen for link click
			$('.edit-link').on('click', function (e) {
				e.preventDefault(); // Prevent the default link behavior
				var url = $(this).attr('href');
				// Fetch the content dynamically using AJAX
				$.ajax({
					url: url,
					type: 'GET',
					success: function (result) {
						// Update modal body content
						$('#updateModal .modal-content').html(result);
						// Show the modal
						$('#updateModal').modal('show');
					},
					error: function () {
						console.error('Error fetching data');
					}
				});
			}
			
			
			
			);
			$('#btnUpdateClose').on('click', function () {
				alert('Update');			// Clear modal body content
				$('#updateModal .modal-content').html('');
			});
			//$('#updateModal').on('hidden.bs.modal', function () {
			//	debugger;
			//	// Clear modal body content
			//	$('#updateModal .modal-content').html('');
			//});



			$('#btnCreateClose').on('click', function () {
				ale('Create Close')
				// Clear modal body content
				$('#createModal .modal-content').html('');
			});
		}
		);

		
	</script>

</div>